# по идее игнорирование такой папки везде
**/__pycache__/

#игнорирование model в корне
/model

#игнорирование token.py
/presenter/config/token.py

#игнор настроек редактора
/.vscode

#игнор настроек PyCharm
 /.idea
