# ignoring this folder everywhere
**/__pycache__/

# ignoring model in root
/model

# ignoring text editor settings
/.vscode

# ignoring virtual environment
**/venv/

# ignoring PyCharm settings
/.idea
/.idea/
/idea/*
